.body-container {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('header2.jpg');
    color:black;
    min-height: 60vh;
    background-color: #BCCCCB;
    opacity: 0.7;
}

.content-container {
    background-size: 100% auto;
    background-color: #BCCCCB;
    min-height: 60vh;
}
.header {
   min-height: 40vh;
}
@media (min-width: 768px) { 
    .header{
        min-height: 60vh;
    }
 }
 @media (min-width: 1200px) { 
    .header{
        min-height: 100vh;
    }
 }

 .btn-primary-2 {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8581A6;
    --bs-btn-border-color: #676480;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7869C6;
    --bs-btn-hover-border-color: #373d42;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: 0 10px 20px rgba(99, 139, 166, 0.792);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
  }

@keyframes pulse {
    0%,
    100% {
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
    }
  }
  @keyframes mover {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-10px);
        transform: scale(1.2); }
  }
  
      .btn:hover {
          animation: pulse 2s infinite;
      }
      .navbar-logo:hover {
          animation: mover 2s infinite;
      }
  
  
.navbar-light {
    background-color: #c3dcdc;
    box-shadow: 5px -10px 20px #8c9b9b94 inset;
}

.dashboard-nav-link:active {
    color: rgb(76, 76, 76) !important;
}